@import "~bootstrap/scss/bootstrap";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

body {
    background-color: #0A1628;
    color: white;
}
.navbar-wrapp
{
    box-shadow: rgb(134 85 255 / 20%) 0px 0px 50px;
    background-color: #0A1628;
    color: white;
    border-radius: 18px;
    padding-left: 10px;

    a
    {
        color: white;
    }
    a:hover
    {
        color: #8655FF;
    }
}
.login-wrapp
{
    margin-top: 20vh;
}
.login-form-wrapp
{
    box-shadow: rgb(134 85 255 / 20%) 0px 0px 50px;
    border-radius: 18px;
    padding: 20px 10px;
}
label
{
    color: #8655FF;
}
.btn-primary
{
    background-color: #8655FF;
    border-color: #8655FF;
}
.btn-primary:hover
{
    background-color: #653cd9;
    border-color: #8655FF;
}
.login-register
{
    color: #8655FF;
}
.login-register:hover
{
    color: #653cd9;
}
.login-error
{
    color: darkred;
}
.form-check-input:checked
{
    background-color: #8655FF;
    border-color: #8655FF;
}
h1
{
    color: #8655FF;
}
th
{
    color: #8655FF;
}
td
{
    color: white;
}
a.nav-link-active
{
    color: #653cd9 !important;
}
.modal-content
{
    background-color: #0A1628;
    border-radius: 18px;
}
.modal-footer
{
    border-top: 0;
}
.modal-header
{
    border-bottom: 0;
}
.changeCurrentPropertyButton
{
    cursor: pointer;
    opacity: 0.7;
}
.updateBillModal:hover
{
    cursor: pointer;
    opacity: 0.7;
}
.deleteNotificationButton:hover
{
    cursor: pointer;
}